
<h4><a href="https://github.com/JazzBrown1/hadrian" target ="blank" >Github: https://github.com/JazzBrown1/hadrian</a></h4>
<h4><a href="https://www.npmjs.com/package/hadrian" target ="blank" >NPM: https://www.npmjs.com/package/hadrian</a></h4>
<span>Created by Jazz Brown - Distributed under the MIT license</span>